.header__profile {
  display: flex;
  padding: 45px 0px;
}
.header__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}
.header__info {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
}
.header__name-container {
  display: flex;
  flex-direction: row;
}
.header__name {
  font-size: 42px;
  font-weight: 500;
  margin: 0;
  padding-top: 22px;
}
.header__occupation {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}
.header__edit-button {
  width: 24px;
  height: 24px;
  background-size: contain;
  background-position: center;
  background-color: transparent;
  border: 1px solid #fff;
  margin: 40px 0 0 18px;
}
.header__add-button {
  width: 150px;
  height: 50px;
  background-size: contain;
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
  border: 1px solid #fff;
  margin: auto 0 auto auto;
}
