.popup {
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.popup__container {
  max-width: 430px;
  width: 100%;
  height: 330px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 10px;
  position: relative;
}
.popup__close-button {
  width: 40px;
  height: 40px;
  background-image: url(../images/Close-button.png);
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  position: absolute;
  top: -40px;
  right: -40px;
}
.popup__title {
  font-family: "inter", Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 900;
  padding-left: 36px;
  padding-top: 36px;
  margin: 0 0 40px 0;
}
.popup__form {
  max-width: 358px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-left: 36px;
}
.popup__input {
  width: 100%;
  height: 27px;
  border: none;
  border-bottom: 1px solid #c4c4c4;
  color: #000;
  font-size: 14px;
}
.popup__input::placeholder {
  color: #c4c4c4;
}
.popup__save-button {
  width: 100%;
  height: 50px;
  font-size: 18px;
  color: #c4c4c4;
  background-color: transparent;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  margin-top: 10px;
}
